{% extends 'base.html' %}

{% block title %} <title>To dos </title> {% endblock %}

{% block heading %} <h1></h1> {% endblock %}
{% block body %}

    <a class="btn btn-primary" href="/todo">Create a Todo</a>
    <hr>
    <h2> List of your To Dos:</h2>
    <hr>
    {% for todo in todos %}
        <b>{{ todo.title }}</b>
        <br>
        <small>Created on: {{ todo.created_date.strftime('%Y-%m-%d') }}</small>
        <br><br>
        <p style="white-space:pre-wrap">{{ todo.description }}</p>
        <p> <b>Status: </b>{{ todo.status }}</p>

        {% if todo.due_date %}
            <p> <b>DueDate:</b>  {{ todo.due_date.strftime('%Y-%m-%d') }}</p>
        {% else %}
            <p> <b>DueDate:</b> 'No due date' </p>
        {% endif %}

    <a class="btn btn-primary" href="/todo/{{todo.id}}/edit">Edit</a>
    <a class="btn btn-warning" href="/todo/{{todo.id}}/delete">Delete</a>
    <hr>
    {% endfor %}



{% endblock %}
