{% extends 'base.html' %}

{% block title %} <title>To dos </title> {% endblock %}

{% block heading %} <h3>Create New</h3> {% endblock %}
{% block body %}

    <hr>
    {% if error|length == 2 %}
        <div class="alert alert-danger" role="alert">
        Title and Due Date are mandatory
        </div>
    {% elif error|length == 1 %}
        <div class="alert alert-danger" role="alert">
            {{error[0]}} is mandatory
        </div>
    {% endif %}

        <form action='/todo' method="POST">

            <label for="title">Title</label>
            <input class="col-xs-3" type="text" name="title" id="title" placeholder="Title" aria-label="Search">
            <br>
            <label for="desc">Description</label>
            <textarea class="form-control" name="desc" id="desc" rows="3" placeholder="Description"></textarea>
            <br>
            <label for="due_date">Due on</label>
            <input type="date" name="due_date" id="due_date"><br><br>

            <input class="btn btn-primary" type="submit" value="Create">
        </form>

    <hr>

{% endblock %}
