{% extends 'base.html' %}

{% block title %} <title>To dos </title> {% endblock %}

{% block heading %} <h3>Update</h3> {% endblock %}
{% block body %}

    <hr>
        {% if error|length == 2 %}
            <div class="alert alert-danger" role="alert">
            Title and Due Date are mandatory
            </div>
        {% elif error|length == 1 %}
            <div class="alert alert-danger" role="alert">
                {{error[0]}} is mandatory
            </div>
        {% endif %}

        <form action='/todo/{{todo.id}}/edit' method="POST">

            <label for="title">Title</label>
            <input class="col-xs-3" type="text" name="title" id="title" value={{todo.title}} aria-label="Search">
            <br>
            <label for="desc">Description</label>
            <textarea class="form-control" name="desc" id="desc" rows="3">{{todo.description}}</textarea>
            <br>
            <label for="due_date">Due on</label>
            <input type="date" name="due_date" id="due_date" value={{todo.due_date}}><br><br>

            Status <select name="status" value={{todo.status}}>
            <option value="New">New</option>
            <option value="WIP">WIP</option>
            <option value="Closed">Closed</option>
            </select>
            <br><br>
            <input class="btn btn-primary" type="submit" value="Save">
        </form>

    <hr>

{% endblock %}
