{% extends 'base.html' %}

{% block title %} <title>To dos </title> {% endblock %}

{% block body %}
<br>
<br>

<div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome!</h1>
        <p>This example To Do app is written in Flask, SQLite and Bootstrap</p>
        <p>
          <a class="btn btn-primary" href="/all" role="button">Take me to the App &raquo;</a>
        </p>
      </div>
    </div>
{% endblock %}